*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
header{
    height: 100vh;
    background-color: #AA8F72;
    position: relative;
    overflow-x: hidden;
    font-family: 'Cinzel', serif;
}
main{
    height: 100vh;
    background-color: rgb(0, 255, 234);
}
header img{
    position: absolute;
    bottom: 0;
    height:70%;
    right: -20%;
}
header nav{
    position:absolute;
    right: 5%;
    top: 4%;
    font-size: 4rem;
}
header hgroup{
    position: absolute;
    top: 15%;
    left: 7%;
    text-align: justify;
    z-index: 2;             
}
h1{
    font-size: 3rem;       /* rem- skalująca siejednostka */
}                           /* 1rem - 10px */
h3{
    font-size: 1.3rem;
}
#arrow{
    height: 70px;
    width: 70px;
    border: 5px solid black;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);  /* ustawia na srodek */
    border-radius: 50%;          /* robi kółko */
    font-size: 6rem;
    text-align: center;
}

@media (orientation: portrait ){
    h3 span::after {
        content: '\A';
        white-space:pre;        /* widac enter *\
    }
}